<!-- <app-header></app-header> -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Manage Penalty</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example2"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          SI NO
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="example2"
                          rowspan="1"
                          colspan="1"
                          aria-label="Browser: activate to sort column ascending"
                        >
                          Date & Time
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="example2"
                          rowspan="1"
                          colspan="1"
                          aria-label="Platform(s): activate to sort column ascending"
                        >
                          Condition
                        </th>
                        <th>Head</th>
                        <th>Type</th>

                        <th>Value</th>

                        <th>Status</th>

                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="table-custom">
                      <tr *ngFor="let item of items; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.created_at | date : "mediumDate" }}</td>
                        <td>{{ item.penalty_condition }}</td>
                        <td>{{ item.penalty_head }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ item.status == 1 ? "Active" : "Inactive" }}</td>
                        <td>
                          <a class="badge badge-success text-white p-2" routerLink="/penality/edit/{{item.id}}">
                           Edit
                          </a>
                          <a class="badge badge-danger  text-white p-2 ml-2">
                            Delete
                           </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
