<app-header></app-header>
<div class="content-wrapper pt-5">
  <section class="content">
<div class="container">
  <div class="col-md-10 text-dark">
    <div class="card justify-content-center">

        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Direct Sale</th>
                <th>Group Sale</th>
                <th>Upload file</th>
              </tr>
            </thead>
            <tbody>
        
            </tbody>
          </table>
    </div>
  </div>
</div>
</section>

<div class="overlay" *ngIf="loader">
  <div class="loader"></div>
</div>
</div>

